.header img{
    height: 80px;
    
}
.header{
    text-align: center;
}
.header nav{
    background-color: rgb(236, 183, 11);
    
    line-height: 40px;
    font-size: 20px;
}
nav a{
    
    margin-right: 20px;
    text-align: left;
    padding: 6px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: rgb(141, 117, 8);
    color: rgb(6, 247, 227);
    
}